<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Envio de código</title>
<link rel="stylesheet" th:href="@{/css/estilos.css}" />
<th:block th:include="~{base::head}">/>


</head>
<body>

	<div class="container-fluid col-sm-12">
		<header class="row">
			<div class="col-12 mr-3">
				<div th:replace="~{base::cabecalho}"></div>
			</div>
		</header>
		<main>
			<form th:action="@{/usuario/trocar-senha-esquecida}" method="post">
				<div class="form-group">
					<label>Codigo válido por 1 minuto</label>
					<input type="text" name="codigo" class="form-control"
						placeholder="Insira o código de confirmação enviado no e-mail">
				</div>
				<div th:text="${erro}" class="error"></div>
				<div class="form-group col-sm-10">
					<button class="btn btn-primary" type="submit">Enviar
						código</button>
				</div>
			</form>
		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>