<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulário de usuário</title>
<th:block th:include="~{base::head}">/>

















</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<div class="jumbotron">
				<h1 class="display-4">Cadastro de usuário</h1>
			</div>
			<div>
				<h3 th:text="${sucesso}" class="text-success"></h3>
			</div>
			<form th:object="${usuario}" th:action="@{/usuario/novo}"
				method="post">
				<div class="row">
					<div class="form-group col-sm-10">
						<label for="username">Login</label> <input
							th:errorClass="is-invalid" type="text" class="form-control"
							placeholder="Login" th:field="*{username}">
						<div class="invalid-feedback" th:errors="*{username}"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-10">
						<label for="password">Senha</label><input type="password"
							class="form-control" placeholder="senha" name="password">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-10">
						<label for="cpf">Cpf</label><input type="text"
							th:errorClass="is-invalid" class="form-control"
							placeholder="Seu CPF" th:field=*{cpf}>
						<div class="invalid-feedback" th:errors="*{cpf}"></div>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-10">
						<label for="aniversario">Data de aniversário</label><input
							th:errorClass="is-invalid" type="date" class="form-control"
							placeholder="Data de nascimento" th:field="*{aniversario}">
						<div class="invalid-feedback" th:errors="*{aniversario}"></div>

					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-10">
						<label for="telefone">Telefone</label><input type="text"
							class="form-control" placeholder="Telefone para contato"
							name="telefone">
					</div>
				</div>
				<button type="submit" class="btn btn-primary">Cadastrar</button>
			</form>

		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>