<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Formulário de usuário</title>
<script type="text/javascript" th:src="@{/js/mascaras.js}"></script>
<th:block th:include="~{base::head}">/>


</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<a th:href="@{/usuario/meus-pedidos}" class="btn btn-success">Meus
				Pedidos</a>
			<div class="row">
				<div class="col-6">
					<h1 class="text-success" th:text="${sucesso}"></h1>
					<form th:object="${usuario}" th:action="@{/usuario/editar}"
						method="post">
						<div class="form-group">
							<label for="username">Login</label> <input
								th:errorClass="is-invalid" type="text" class="form-control"
								placeholder="Login" th:field="*{username}">
							<div class="invalid-feedback" th:errors="*{username}"></div>
						</div>
						<div class="form-group">
							<label for="cpf">CPF</label><input type="text" maxlength="14"
								id="cpf" onkeyup="aplicaMascaraCpf(this);"
								th:errorClass="is-invalid" class="form-control"
								placeholder="Seu CPF" th:field=*{cpf}>
							<div class="invalid-feedback" th:errors="*{cpf}"></div>
						</div>
						<div class="form-group">
							<label for="aniversario">Data de nascimento</label><input
								th:errorClass="is-invalid" type="date" max="31-01-4000"
								class="form-control" placeholder="Data de nascimento"
								th:field="*{nascimento}" required>
							<div class="invalid-feedback" th:errors="*{nascimento}"></div>

						</div>
						<div class="form-group">
							<label for="telefone">Telefone</label><input type="text"
								class="form-control" placeholder="Telefone para contato"
								th:field="*{telefone}">
						</div>
						<button type="submit" class="btn btn-primary">Editar</button>
						<input type="hidden" name="password" th:value="*{password}">
					</form>
				</div>
				<div class="col-6">
					<div>
						<h3 th:text="${sucessoEndereco}" class="text-success"></h3>
					</div>
					<div class="form-check">
						<input type="checkbox" id="checkbox" class="form-check-input"
							onChange="onClickCheckbox(this);" checked><label
							for="checkbox">Cadastrar endereço</label>
					</div>
					<form id="form-endereco" th:object="${endereco}"
						th:action="@{/endereco/novo}" method="post">
						<div class="form-group">
							<label for="cep">CEP</label><input type="text" maxlength="14"
								id="cep" onkeyup="buscaCep(this);" th:errorClass="is-invalid"
								class="form-control" placeholder="CEP" th:field=*{cep}>
							<div class="invalid-feedback" th:errors="*{cep}"></div>
						</div>
						<div class="invalid-feedback" th:errors="*{cep}"></div>
						<div class="form-group">
							<label for="rua">Logradouro</label> <input type="text"
								th:errorClass="is-invalid" class="form-control"
								placeholder="Logradouro" id="logradouro"
								th:field="*{logradouro}">
							<div class="invalid-feedback" th:errors="*{logradouro}"></div>
						</div>
						<div class="form-group">
							<label for="rua">Número</label> <input type="text" maxlength="10"
								th:errorClass="is-invalid" class="form-control"
								onkeyup="aplicaMascaraNumero(this);" placeholder="Número"
								id="numero" th:field="*{numero}">
							<div class="invalid-feedback" th:errors="*{numero}"></div>
						</div>
						<div class="form-group">
							<label for="rua">Complemento</label> <input type="text"
								class="form-control" placeholder="Complemento" id="complemento"
								name="complemento">
						</div>
						<div class="form-group">
							<label for="rua">Referência</label> <input type="text"
								class="form-control"
								placeholder="Ponto de referência, ex: Em frente ao bar do Zézão"
								id="referencia" name="referencia">
						</div>
						<div class="form-group">
							<label for="bairro">Bairro</label> <input type="text"
								th:errorClass="is-invalid" class="form-control"
								placeholder="Bairro" id="bairro" th:field="*{bairro}">
							<div class="invalid-feedback" th:errors="*{bairro}"></div>
						</div>

						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>
				</div>
			</div>
			<script type="text/javascript">
				document.getElementById('form-endereco').style.display = "none";
				checkbox = document.getElementById('checkbox');
				onClickCheckbox(checkbox);
				function onClickCheckbox(checkbox) {
					if (checkbox.checked == true) {
						document.getElementById('form-endereco').style.display = "block";
					} else {
						document.getElementById('form-endereco').style.display = "none";

					}
				}
				function buscaCep(evento) {
					var cep = aplicaMascaraCep(evento);

					var json = {"cep":cep}
					fetch("/cep/buscar", {
						method : "POST",
						headers : {
							"Content-Type" : "application/json",
						},
						body : JSON.stringify(json),
					}).then(response=>response.json())
					.then(resposta=>{
						if(resposta != ''){
							//console.log(resposta);
							var obj = JSON.parse(resposta);
							var bairro = obj.bairro;
							var logradouro = obj.logradouro;
							document.getElementById("bairro").value = bairro;
							document.getElementById("logradouro").value = logradouro;
							document.getElementById("bairro").readOnly = true;
							document.getElementById("logradouro").readOnly = true;
						}else{
							//console.log("CEP não encontrado");
							//document.getElementById("bairro").value = '';
						//	document.getElementById("logradouro").value = '';
							document.getElementById("bairro").readOnly = false;
							document.getElementById("logradouro").readOnly = false;
						}
					})
				}
			</script>

		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>