<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Informação sobre conta</title>
<th:block th:include="~{base::head}">/>

</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<div>
				<h1 class="alert-success" th:text="${mensagem}"></h1>
			</div>
			<a class="btn btn-primary btn-lg" th:href="@{/login}"><i
				class="bi bi-person-circle"></i> Login</a>
		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>