<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Detalhe do pedido</title>
<style>
.qr-code {
	max-width: 200px;
	margin: 10px;
}
</style>
<th:block th:include="~{base::head}">/>












</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<h1 class="text-success"
				th:text="'Detalhes sobre o pedido: '+${pedido.id}"></h1>
			<div class="card">
				<div class="card-header">Produtos</div>
				<div class="card-body" th:each="produtoPedido: ${pedido.produtos}">
					<h5 class="card-title" th:text="${produtoPedido.produto.nome}"></h5>
					<img th:src="${produtoPedido.produto.urlImagem}" width="100px"
						height="100px">
					<p class="card-text"
						th:text="'Quantidade: ' +${produtoPedido.quantidade}"></p>
					<p class="card-text"
						th:text="'Preço unitário R$ ' +${produtoPedido.produto.preco}"></p>
					<p class="card-text" th:if="${pedido.parcelas} &gt; 1"
						th:text="'Total R$( Acréscimo '+${acrescimo}+'% ) R$ ' + ${produtoPedido.total}"></p>
					<p class="card-text" th:unless="${pedido.parcelas gt 1}"
						th:text="'Total ' + ${produtoPedido.total}"></p>

				</div>
			</div>
			<div>
				<h5 th:text="'Total do pedido R$ '+${pedido.total}"></h5>
				<h5 th:text="'Valor da parcela R$ '+${pedido.valorParcela}"></h5>
				<h5 th:text="'Quantidade de parcelas '+${pedido.parcelas}"></h5>
				<h5 th:text="'Método de pagamento '+${pedido.metodoPagamento}"></h5>
			</div>
			<div sec:authorize="hasRole('ROLE_ADM')"
				th:if="${pedido.metodoPagamento} == 'pix'">
				<h5 class="text-success">QR CODE</h5>
				<img src="" id="qr-code-image" width="250px">
			</div>
			<div sec:authorize="hasRole('ROLE_ADM')"
				th:if="${pedido.metodoPagamento} == 'bolbradesco'">
				<a target="_blank" th:href="${pedido.linkBoleto}">Ver boleto</a>
			</div>
		</main>
		<div th:replace="~{base::rodape}"></div>

		<script th:inline="javascript">
			const idPedido = /*[[${pedido.id}]]*/'default';
			const metodoPagamento = /*[[${pedido.metodoPagamento}]]*/'default';
			console.log(metodoPagamento);
			if (metodoPagamento == 'pix') {
				const qrCode = /*[[${pedido.qrCodeBase64}]]*/'default';
				document.getElementById("qr-code-image").src = `data:image/jpeg;base64,${qrCode}`;
				console.log(qrCode);
			}
		</script>

	</div>
</body>
</html>