<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Carrinho de compras</title>
<th:block th:include="~{base::head}">/>































































</head>

<body>
	<div th:replace="~{base::cabecalho}"></div>
	<main>
		<div th:if="${!itens.isEmpty}" class="row">
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						<table id="tabela" class="table">
							<thead>
								<tr>
									<th scope="col">Produto</th>
									<th scope="col"></th>
									<th scope="col">Preço</th>
									<th scope="col">Quantidade</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="item: ${itens}">
									<td th:text="${item.key.produto.nome}"></td>
									<td><a
										th:href="@{'/produto/detalhe/' + ${item.key.produto.id}}">
											<img th:height="150px" th:width="150px"
											th:src="${item.key.produto.urlImagem}">
									</a></td>
									<td th:text="${item.key.produto.preco}"></td>
									<td><input th:id="${item.key.produto.id}" type="number"
										min="1" oninput="aumentaQuantidadeNoCarrinho(this);"
										th:value="${item.value}"></td>
									<td><div>
											<a th:href="@{'/carrinho/remover/' + ${item.key.produto.id}}"><i
												class="bi bi-trash"></i>Remover</a>
										</div></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="col-6">
				<div class="card">
					<div class="card-body">
						Total R$: <label class="text-green" id="total" th:text="${total}">
						</label><label> Ou até em 12 x de x</label>
						<div>
							<form th:action="@{/carrinho/formulario}" method="post">
								<button th:if="${permissaoComprar} == true" id="btnCadastrar"
									class="btn btn-primary" type="submit">Finalizar compra</button>

								<a class="btn btn-primary"
									th:unless="${permissaoComprar} == true"
									onclick="informarSobreACompra()" id="btnCadastrar" href="#">Finalizar
									compra</a> <a class="btn btn-primary" th:href="@{/carrinho/limpar}"
									type="submit">Limpar carrinho</a>
							</form>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div class="card" th:unless="${!itens.isEmpty}">
			<div class="card-body">
				<span>Você não adicionou nenhum produto ao carrinho <a
					class="btn btn-primary" th:href="@{/}"><i class="bi bi-house"></i>Comprar</a>
				</span>
			</div>
		</div>
		<script>
			function informarSobreACompra() {
				alert('Integrado com Mercado Pago, mas por razões legais e de testes não será dado continuidade a compra')
			}
			function aumentaQuantidadeNoCarrinho(e) {
				var json = {"produtoId":e.id,"quantidade":e.value}
				fetch("/atualiza/carrinho", {
	                method: "POST",
	                headers: {
	                    "Content-Type": "application/json",
	                },
	                body: JSON.stringify(json),
	            })
	                .then(response => {
	                    return response.json();
	                })
	                .then(resposta => {
						console.log(resposta);
						var json = JSON.parse(resposta);
						document.getElementById("total").textContent = json.total;
	                })
				
				
			}
		</script>
	</main>
	<div th:replace="~{base::rodape}"></div>
</body>
</html>