
<form th:fragment="formulario" th:object="${usuario}"
	th:action="@{/usuario/editar}" method="post">
	<div class="form-group">
		<label for="username">Login</label> <input th:errorClass="is-invalid"
			type="text" class="form-control" placeholder="Login"
			th:field="*{username}">
		<div class="invalid-feedback" th:errors="*{username}"></div>
	</div>
	<div class="form-group">
		<label for="cpf">CPF</label><input type="text" maxlength="14" id="cpf"
			onkeyup="aplicaMascaraCpf(this);" th:errorClass="is-invalid"
			class="form-control" placeholder="Seu CPF" th:field=*{cpf}>
		<div class="invalid-feedback" th:errors="*{cpf}"></div>
	</div>
	<div class="form-group">
		<label for="aniversario">Data de nascimento</label><input
			th:errorClass="is-invalid" type="date" max="31-01-4000"
			class="form-control" placeholder="Data de nascimento"
			th:field="*{nascimento}" required>
		<div class="invalid-feedback" th:errors="*{nascimento}"></div>

	</div>
	<div class="form-group">
		<label for="telefone">Telefone</label><input type="text"
			class="form-control" placeholder="Telefone para contato"
			th:field="*{telefone}">
	</div>
	<button type="submit" class="btn btn-primary">Editar</button>
	<input type="hidden" name="password" th:value="*{password}">
</form>