
<div th:fragment="head">

	<style th:fragment="estilos">
.logo-container {
	background-color: #0320fc;
	color: #FFF;
}

.logo {
	font-family: 'Arial', cursive;
	font-size: 1.5rem;
	font-weight: bold;
}
</style>

	<link th:fragment="bootstrap" rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
		integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
		crossorigin="anonymous">
	<link th:fragment="fonts"
		href="https://fonts.googleapis.com/css2?family=Handlee&display=swap"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
</div>


<div th:fragment="cabecalho" class="logo-container">
	<div class="row">
		<div class="col-4 col-sm-4">
			<!-- Image and text -->
			<nav class="navbar navbar-light">
				<a class="navbar-brand" th:href="@{/}"> <span class="text-white"><i
						class="bi bi-house"></i>Home</span>
				</a>
			</nav>
		</div>
		<div class="col-4 col-sm-4">
			<form class="form d-flex flex-row" method="get" th:action="@{/busca}">
				<input class="form-control input-lg" type="search" name="pesquisar"
					placeholder="Pesquise seu produto" aria-label="Search"
					maxlength="100">
				<button class="btn btn-outline-light my-2 my-sm-0 ml-1"
					type="submit">Procurar</button>
			</form>

		</div>
		<div class="col-4 ml-9 col-sm-4">
			<a sec:authorize="!isAuthenticated()" th:href="@{/login}"><span
				class="logo text-white"><i class="bi bi-person-circle"></i>
					Login</span></a> <a class="logo text-white" th:href="@{/cliente/formulario/cadastrar}"
				sec:authorize="!isAuthenticated()">Cadastre-se</a> <a
				class="logo text-white" th:href="@{/usuario/formulario/editar}"
				sec:authorize="isAuthenticated()">Meus dados</a> <a
				onclick="document.querySelector('#form-logout').submit()"
				sec:authorize="isAuthenticated()" href="#"><span
				class="logo text-white"><i class="bi bi-person-circle"></i> <span
					sec:authentication="name"></span> Logout</span></a>
			<form id="form-logout" th:action="@{/logout}" method="post"></form>

			<a th:href="@{/carrinho}"><span class="logo text-white"><i
					class="bi-cart-fill me-1"></i>Carrinho</span></a>
		</div>
	</div>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse" id="navbarNav"
			th:each="categoria: ${categorias}">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{'/categoria/' + ${categoria.nome}}"
					th:text="${categoria.nome}"></a></li>
			</ul>
		</div>
	</nav>
</div>

<footer th:fragment="rodape">
	<span class="logo">Projeto do portifólio de software do
		desenvolvedor. Não existe comércio em funcionamento</span>
	<!-- 
	<div>
		<a th:href="@{/desenvolvedor}">Sobre o desenvolvedor do projeto</a>
	</div>
	-->
</footer>