<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<th:block th:include="~{base::head}">/>

</head>


<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<div class="alert alert-danger" role="alert">
				<h1 class="alert-heading">
					Página não encontrada <i class="bi bi-x-lg"></i>
				</h1>
			</div>
			<a th:href="@{/}" class="btn btn-primary btn-lg"><i
				class="bi bi-house"></i>Home</a>
		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>