<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Edição de produto</title>
<th:block th:include="~{base::head}">/>
</head>
<body>
	<div class="container-fluid">
		<header>
			<div th:replace="~{base::cabecalho}"></div>
		</header>
		<main>
			<div class="jumbotron">
				<h1 th:if="${idProdutoEditar == null}" class="display-4">Cadastrar
					Produto</h1>
				<h1 th:if="${idProdutoEditar != null}" class="display-4">Editar
					Produto</h1>
			</div>
			<div>
				<h3 th:text="${sucesso}" class="text-success"></h3>
			</div>
			<form th:object="${produto}" th:action="@{/produto/editarProduto}"
				method="post">
				<div th:replace="~{fragments/produto::formulario('Editar')}"></div>
			</form>
		</main>
		<div th:replace="~{base::rodape}"></div>
	</div>
</body>
</html>